@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    color: #c8c8c8;
    text-decoration: none;
}

.first {
    width: 100%;
    height: 100vh;
}

.main-banner {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    z-index: -1;
    overflow: hidden;
}

.main-banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.main-banner-arm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url("../img/arm.png");
    z-index: 10;
}

.main-header {
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    font-size: 70px;
    color: #fff;
    padding-top: 100px;
    margin-left: 175px;
}


.achievements-block {
    width: 600px;
    height: 600px;
    margin-left: 175px;
    padding-top: 20px;
}

.achievements-line {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #c8c8c8;
    padding-top: 15px;
}

aside {
    width: 75px;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    left: 0;
    top: 0;
}

.aside-img {
    display: block;
    width: 50%;
    padding-top: 15px;
    margin: 0 auto;
    cursor: pointer;
}

.aside-links {
    position: absolute;
    bottom: 15px;
}

.aside-header {
    display: block;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    color: #2a9134;
    transform: rotate(-90deg);
    margin-top: 3em;
    margin-left: -2.5em;
    width: 7.5em;
    height: 75px;
    line-height: 100%;
    padding-top: 10px;
    /*background-color: #2a9134;*/
    cursor: pointer;
}

.continue-btn {
    position: absolute;
    bottom: 100px;
    right: 100px;
    width: 500px;
    height: 100px;
    background-color: #2a9134;
    border-radius: 5px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 100px;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.continue-btn:hover {
    background-color: #217227;
}

.second {
    width: 100%;
    height: 100vh;
    background-color: #1c1c1c;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
}

.second-logo {
    width: 640px;
    height: 640px;
    background-image: url("../img/ogrtz.jpg");
    background-size: cover;
    margin: 0 75px;
    border-radius: 0 0 10px 0;
    box-shadow: 190px 300px 500px rgba(0, 0, 0, 1);
    float: left;
}

.second-header {
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding: 20px;
}

.second-about-text-block {
    font-family: Montserrat, sans-serif;

    width: calc(100vw - 75px);
    color: white;
    height: 640px;
    margin-left: 75px;
    padding: 50px;
}

.time-line-blocks {
    width: 1525px;
    height: 155px;
    margin: 50px auto;
    padding-left: 75px;

    display: flex;
    justify-content: center;
}

.time-line-block {
    width: 300px;
    height: 175px;
    /*background-color: #c8c8c8;*/
    border: 1px solid #c8c8c8;
    margin: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    z-index: 2;
    display: block;
    position: relative;
}

.time-line-line {
    width: 1px;
    height: 50px;
    background-color: #c8c8c8;
    margin: 72px 10px;
    transform: rotate(90deg);
    z-index: 1;
}

.time-line-block-header {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    padding: 5px;
    color: white;
}

.time-line-block-text {
    padding: 5px;
    color: #c8c8c8;
}

.time-line-block-more {
    font-family: Montserrat, sans-serif;
    position: absolute;
    font-weight: 600;
    color: #2a9134;
    right: 10px;
    bottom: 0;
}

.time-line-block-more:hover {
    text-decoration: underline;
}

.third {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}


.third-left {
    width: 30%;
    height: 100vh;
    background-color: #1c1c1c;
    padding-left: 75px;
}

.third-left-header {
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #c8c8c8;
    text-align: center;
    padding-top: 30px;
}

.third-right {
    position: relative;
    width: 70%;
    height: 100vh;
    background-color: #c8c8c8;
}

.third-left-points {
    width: 100%;
    height: 75vh;
    overflow-y: scroll;
    padding: 50px;

    font-family: Montserrat, sans-serif;
    font-weight: 800;
    color: white;
    line-height: 1.5;
}

.finished .point-line-date {
    font-weight: 900;
    color: red;
}

.finished:hover {
    text-decoration: underline;
}

.current {
    font-weight: 900;
    font-size: 30px;
}

.point-line-date {
    font-weight: 900;
    color: #2a9134;
}

.third-right-header {
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: black;
    padding: 30px;
}

.third-right-element {
    font-family: Montserrat, sans-serif;
    color: #1c1c1c;
    cursor: pointer;
    letter-spacing: -1px;
}

.third-right-element:hover {
    text-decoration: underline;
}

.el1 {
    font-size: 70px;
    font-weight: 900;

    position: absolute;
    top: 300px;
    left: 700px;
}

.el2 {
    font-size: 60px;
    font-weight: 900;

    position: absolute;
    top: 500px;
    left: 75px
}

.el3 {
    font-size: 60px;
    font-weight: 800;

    position: absolute;
    bottom: 60px;
    right: 100px;
}

.el4 {
    font-size: 40px;
    font-weight: 900;

    position: absolute;
    top: 200px;
    left: 160px;
    color: #217227;
}

.el5 {
    font-size: 35px;
    font-weight: 800;

    position: absolute;
    bottom: 300px;
    right: 175px;
    color: #217227;
}

.el6 {
    font-size: 40px;
    font-weight: 700;

    position: absolute;
    top: 150px;
    right: 100px;
    color: #217227;
}

.el7 {
    font-size: 60px;
    font-weight: 900;

    position: absolute;
    bottom: 200px;
    left: 10px;
    color: #217227;
}

.el8 {
    font-size: 40px;
    font-weight: 700;

    position: absolute;
    top: 350px;
    left: 300px;
    color: #217227;
}